.offcanvas.modal {
  right: 0;
  left: auto;
}

.form-container {
  display: 'flex';
  align-items: 'center';
  margin-top: '16px';
}

.form-item {
  flex: 1;
  flex-direction: column;
}

.headerLogoWrapper p {
  color: white;
  font-size: x-large;
}
