@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Rubik', sans-serif !important;
  font-family: sans-serif;

  background-image: url('../public/images/stars.png');
}

ul {
  /* margin: 0;
  padding: 0; */
}

.appContainer {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-footer {
  position: absolute;
  bottom: 13px;
  left: -5px;
  width: 100%;
}

.menu {
  position: fixed;
  top: 50%;
  left: 1rem;
  z-index: 3;
  transform: translateY(-50%);
}

.menu-item {
  padding: 1rem;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.menu-item--active {
  background-color: rgb(168, 255, 79, 0.95);
  color: black;
}

.section {
  height: 100vh;
}

#hero {
  background-color: transparent;
}

.hero-section {
  height: 100vh;
  z-index: -1;
}

.pc {
  display: block;
}

.res {
  display: none;
}

.center-content {
  display: flex;
  align-items: center;
  padding-left: 60%;
  padding-right: 2em;
}

.background {
  background-size: auto 100vh;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.slidecard {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem 2rem;
  border-radius: 1rem;
  color: white;
  border-color: transparent;
}

.sections {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sections {
  background-image: url('../public/images/mid.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top 75vh;
  background-attachment: fixed;
}

button {
  background: #a8ff4f;
  cursor: pointer;
  border: 2px solid #86cc3f;
  box-shadow: 4px 4px 0px #5d9623;
  border-radius: 8px;
  color: black;
  font-weight: 500;
  margin: 1rem 0 1.5rem 0;
  padding: 10px 20px;
}

.sectionwrapper {
  position: relative;
  overflow: hidden;
}

.sectionwrapper .tower {
  width: 45vw;
  height: auto;
  display: block;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-75%);
  pointer-events: none;
  image-rendering: pixelated;
  z-index: -1;
}
.cta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: bounce 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 50px, 0);
  }
}

@media screen and (max-width: 1023px) {
  .abstract-video {
    height: 100vh;
  }

  .pc {
    display: none;
  }

  .res {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .sections {
    /* position: absolute; */
    /* top: 0; */
    /* left: -50%; */
    right: 0;
    z-index: 2;
  }

  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding-left: 0em;
    padding-right: 0em;
  }

  .sectionwrapper .tower {
    width: 100vw;
    height: auto;
    display: block;
    position: absolute;
    top: 25vh;
    left: 80%;
    transform: translateX(-75%);
    pointer-events: none;
    image-rendering: pixelated;
    z-index: -1;
  }

  .learn-btn {
    background: none !important;
    border: none;
    padding: 0 !important;
    margin: 0;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: none;
  }
}

.mobile-discord-btn {
  position: sticky;
  left: 30%;
  top: 90%;
  z-index: 3;
}
